/* estilos generales */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    --color-fondo-header:#FBD5A2;
    --color-fondo-nav:#F6E7DB;
    --color-botones:#F3F5E6;
    --color-botones-pressed:#F3B948;
    --color-fondo-main:#FDF6F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
}

body {
background-color: FDF6F6;
margin: 0;
font-family: "DM Sans", sans-serif;


}

.title {
    padding: 2.5rem 0;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

::placeholder {
    color: #DED1CF;
    font-size: 0.9em;
    font-style: italic;
  }